<a href="https://colab.research.google.com/github/yamilethpuente/unidad1/blob/main/practica5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

de las siguientes listas con los valores 23,45,56,12,67,34,55,21
calcula la mediana la media y la moda

In [7]:
from statistics import mean

numeros = [23, 45, 56, 12, 67, 34, 55, 21]

resultado_media = mean(numeros)
print (resultado_media)

39.125

mediana

In [10]:
from statistics import median

numeros = [23, 45, 56, 12, 67, 34, 55, 21]

resultado_mediana = median(numeros)
print (resultado_mediana)

39.5

la moda

In [11]:
from statistics import mode

numeros = [23, 45, 56, 12, 67, 34, 55, 21]
resultado_moda = mode(numeros)
print(resultado_moda)

23

de las siguientes listas con los valores 10, 20, 30, 40, 20, 50, 20
calcula la mediana la media y la moda

In [12]:
from statistics import mean

numeros = [10, 20, 30, 40, 20, 50, 20]
media = mean(numeros)
print(media)

27.142857142857142

la mediana

In [13]:
from statistics import median

numeros = [10, 20, 30, 40, 20, 50, 20]
mediana = median(numeros)
print(mediana)

20

la moda

In [14]:
from statistics import mode

numeros = [10, 20, 30, 40, 20, 50, 20]
moda = mode(numeros)
print(moda)

20

de las siguientes listas con los valores 10, 20, 30, 40, 50
calcula la mediana la media y la moda

In [16]:
from statistics import mean

numeros= [10, 20, 30, 40, 50]
media = mean(numeros)
print(media)

30

mediana

In [17]:
from statistics import median

numeros = [10, 20, 30, 40, 50]
mediana = median(numeros)
print(mediana)

30

la moda

In [19]:
from statistics import mode

numeros = [10, 20, 30, 40, 50]
moda = mode(numeros)
print(moda)

10